* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cback {
    background-color: #F8FDCF;
}
.cel {
    background-color: #78C1F3;
}
.cel2 {
    background-color: #9BE8D8;
}
.cbut {
    background-color: #98E8D8;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    align-items: center;
    border-bottom: solid;
}
.logo {
    width: 20vw;
    float: left;
    padding: 2vw;
}
.nav {
    margin-top: 5px;
    border-bottom: solid;
    border-top: solid;
    display: flex;
    justify-content: space-evenly;
}
.nav a {
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    text-align: center;
    background-color: #78a790;
    border-radius: 2vh;
    text-decoration: none;
    color: black;
    overflow: hidden;
}
.home {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: larger;
}
.button {
    padding: 1vw;
    border-radius: 2vw;
    text-decoration: none;
    color: black;
    border: solid;
}
.down {
    height: 63vh;
}
.linkb {
    float: right;
    margin-top: 2vw;
    width: 70%;
    background-color: #e2f6ca;
}
.afb {
    width: 100%;
    overflow: hidden;
}
.content {
    padding-left: 2vw;
    padding-right: 2vw;
}
.first {
    margin-top: 2vh;
    height: 10vh;
    width: 67vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
}
.first h2 {
    text-align: center;
    font-size: x-large;
    line-height: 9vh;
}
.second {
    margin-top: 2vh;
    height: 15vh;
    width: 67vw;
    float: left;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-right-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.second-x {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 15vh;
    width: 15vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.third {
    margin-top: 2vh;
    height: 25vh;
    width: 57vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
    text-align: right;
}
.third-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 25vh;
    width: 20vh;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 5vw;
    border-top-right-radius: 15vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.four {
    margin-top: 2vh;
    height: auto;
    width: 75vw;
    float: left;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-right-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.five {
    margin-top: 2vh;
    height: 30vh;
    width: 73vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
    text-align: right;
}
.d1 {
    width: 95vw;
}
.d2 {
    width: 61vw;
}
.fourth-x {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 25vh;
    width: 24vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 30vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 15vw;
}
.fifth-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 25vh;
    width: 24vh;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 5vw;
    border-top-right-radius: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.sixth-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 118.4px;
    width: 18vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.double {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 61.9vh;
    width: 20vw;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 5vw;
    border-top-right-radius: 15vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.bigimg {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 30vh;
    width: 87vw;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.bigimg a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 25vh;
    margin-right: 2vw;
    float: right;
    padding: 1vw;
    border-radius: 1vw;
}
.faq {
    height: 15vh;
    overflow: scroll;
}
.newf-x {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 15vh;
    width: 20vw;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.indeximg1 {
    background-image: url(afbeeldingen/blad.png);
}
.indeximg2 {
    background-image: url(afbeeldingen/h1.png);
}
.duurimg1 {
    background-image: url(afbeeldingen/blad.png);
}
.duurimg2 {
    background-image: url(afbeeldingen/d2.png);
}
.duurimg3 {
    background-image: url(afbeeldingen/3.jpg);
}
.duurimg4 {
    background-image: url(afbeeldingen/1.jpg);
}
.duurimg5 {
    background-image: url(afbeeldingen/d4.png);
}
.cijfersimg1 {
    background-image: url(afbeeldingen/c5.png);
    width: 12vh;
    height: 30vh;
}
.geschiedenisimg1 {
    background-image: url(afbeeldingen/g6.png);
}
.geschiedenisimg2 {
    background-image: url(afbeeldingen/g7.png);
}
.geschiedenisimg3 {
    background-image: url(afbeeldingen/g8.png);
}
.geschiedenisimg4 {
    background-image: url(afbeeldingen/locaties.jpg);
}
.faqimg1 {
    background-image: url(afbeeldingen/f9.png);
}
.faqimg2 {
    background-image: url(afbeeldingen/f10.png);
}
.faqimg3 {
    background-image: url(afbeeldingen/f11.png);
}
.faqimg4 {
    background-image: url(afbeeldingen/f12.png);
}
.faqimg5 {
    background-image: url(afbeeldingen/f13.png);
}
hr {
    border-top: 2px solid black;
    width: 70%;
}
.footer {
    border-top: solid;
    height: 20vh;
    width: 100vw;
    padding: 1.5vw;
    margin-top: 2vh;
}