* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cback {
    background-color: #F8FDCF;
}
.cel {
    background-color: #78C1F3;
}
.cel2 {
    background-color: #9BE8D8;
}
.cbut {
    background-color: #98E8D8;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    align-items: center;
    border-bottom: solid;
}
.logo {
    width: 20vw;
    float: left;
    padding: 2vw;
}
.nav {
    margin-top: 5px;
    border-bottom: solid;
    border-top: solid;
    display: flex;
    justify-content: space-evenly;
}
.nav a {
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    text-align: center;
    background-color: #78a790;
    border-radius: 2vh;
    text-decoration: none;
    color: black;
}
.home {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: larger;
}
.button {
    padding: 1vw;
    border-radius: 2vw;
    text-decoration: none;
    color: black;
    border: solid;
}
.linkb {
    float: right;
    margin-top: 2vw;
    width: 70%;
    background-color: #e2f6ca;
}
.afb {
    width: 100%;
    overflow: hidden;
}
.content {
    padding-left: 2vw;
    padding-right: 2vw;
}
.first {
    margin-top: 2vh;
    height: 10vh;
    width: 70vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
}
.first h2 {
    text-align: center;
    font-size: x-large;
    line-height: 9vh;
}
.second {
    margin-top: 2vh;
    height: 15vh;
    width: 70vw;
    float: left;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-right-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.second-x {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 15vh;
    width: 15vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.third {
    margin-top: 2vh;
    height: 25vh;
    width: 60vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
    text-align: right;
}
.third-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 25vh;
    width: 20vh;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 5vw;
    border-top-right-radius: 15vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.four {
    margin-top: 2vh;
    height: auto;
    width: 80vw;
    float: left;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-right-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.five {
    margin-top: 2vh;
    height: auto;
    width: 75vw;
    float: right;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 5vw;
    text-align: right;
}
.d1 {
    width: 95vw;
}
.d2 {
    width: 65vw;
}
.fourth-x {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 25vh;
    width: 25vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 30vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 15vw;
}
.fifth-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 25vh;
    width: 25vh;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 5vw;
    border-top-right-radius: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 5vw;
}
.sixth-x {
    margin-top: 2vh;
    margin-left: 1.5vw;
    height: 118.4px;
    width: 18vh;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-top-left-radius: 15vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.indeximg1 {
    background-image: url(afbeeldingen/blad.png);
}
.indeximg2 {
    background-image: url(afbeeldingen/stock.jpg);
}
.duurimg1 {
    background-image: url(afbeeldingen/blad.png);
}
.duurimg2 {
    background-image: url(afbeeldingen/stock.jpg);
}
.duurimg3 {
    background-image: url(afbeeldingen/stock.jpg);
}
.duurimg4 {
    background-image: url(afbeeldingen/1.jpg);
}
.duurimg5 {
    background-image: url(afbeeldingen/stock.jpg);
}
.ervaringimg1 {
    background-image: url(afbeeldingen/stock.jpg);
    width: 12vh;
    height: 192px;
}
.ervaringimg2 {
    background-image: url(afbeeldingen/stock.jpg);
}
.geschiedenisimg1 {
    background-image: url(afbeeldingen/stock.jpg);
}
.geschiedenisimg2 {
    background-image: url(afbeeldingen/stock.jpg);
}
.faqimg1 {
    background-image: url(afbeeldingen/stock.jpg);
}
.faqimg2 {
    background-image: url(afbeeldingen/stock.jpg);
}
.down {
    height: 63vh;
}
.footer {
    border-top: solid;
    height: 20vh;
    width: 100vw;
    padding: 1.5vw;
    margin-top: 2vh;
}